.buzz-img-btn {
	position: relative;
	height: 100%;
}
.buzz-img-btn img {
	width: 100%;
}

.buzz-img-btn b {
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0px;
	top: 0px;
}
